<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        line-height: 1.6;
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #f4f4f9;
        color: #333;
    }
    header {
        text-align: center;
        border-bottom: 2px solid #6e5494; /* GitHub Purple */
        margin-bottom: 20px;
    }
    h1 { color: #24292e; }
    ul { list-style-type: square; }
</style>
